.navCard{
    background-color: lightblue;
    border-radius: 50px;
    border: 3px solid black;
    padding: 5px;
    transition-duration: 500ms;
  }
  .navCard:hover{
    background-color: orange;
    transition-duration: 550ms;
  }
  