.navCard{
    background-color: lightblue;
    border-radius: 50px;
    border: 3px solid black;
    padding: 5px;
    transition-duration: 500ms;
  }
  .navCard:hover{
    background-color: orange;
    transition-duration: 550ms;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

  body  {
      background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
    background-size:cover;
          -webkit-animation: slidein 100s;
          animation: slidein 100s;
  
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  
          -webkit-animation-direction: alternate;
          animation-direction: alternate;              
  }
  
  @-webkit-keyframes slidein {
  from {background-position: top; background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  }
  
  @keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  
  }