h1 {
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10%;
}

.header {
    grid-column: 1/10;
    grid-row: 1/2;
}

.content1 {
    grid-column: 2/4;
    grid-row: 2/4;
}

.content2 {
    grid-column: 4/6;
    grid-row: 2/4;
}

.content3 {
    grid-column: 6/8;
    grid-row: 2/4;
}

.footer {
    grid-column: 1/10;
    grid-row: 4/6;
}