body{
    background-color: rgba(201, 119, 72, 0.322);
}
h1 {
    text-align: center;
}



.header {
    grid-column: 1/10;
    grid-row: 1/2;
}

.content1 {
    border: 5px solid black;
    border-radius: 30px;
    background-color: rgb(209, 209, 243);
  width: 300px;
}

.content2 {
    border: 5px solid black;
    border-radius: 30px;
    background-color: rgb(209, 209, 243);
    width: 300px;
}

.content3 {
    height: 255px;
    border: 5px solid black;
    border-radius: 30px;
    background-color: rgb(209, 209, 243);
   width: 300px;
} 