h1 {    text-align: center;}

h3{text-align: center;}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10%;
   
}

.header {
     grid-column: 1/5;
    grid-row: 1/2; 
}
    
a {
    text-decoration: none;
    color: black;
}


a:hover{
    color: black;
}